.footer-siempre-abajo {
    min-height: calc(100vh - 0px - 74px);
}

#perfil { color: white; }
#salir { color: white; }

 @media screen and (max-width: 980px) {
            .table {
                display: block;
                overflow-x: auto;
            }
        }